
.m-listing-logos{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;

  picture{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	column-gap: 10px;
	row-gap: 10px;
	height: 100%;

	img{
	  width: 100%;
	  filter: grayscale(100%);
	  transition: all 0.37s;
	  transform: scale(0.5);

	  &:hover{
		filter: none;
		transform: scale(1.025);
	  }
	}
  }

}


@media (min-width: 992px){
  .m-listing-logos{
	picture{
	  row-gap: 70px;
	  column-gap: 50px;
	  img{
		transform: scale(1);
	  }
	}
  }
}