@import '../styles/Global-Settings/Paddings.css';

*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*max-width: 100%;*/
}

body{
    overflow-x: hidden;
    max-width: 100%;
}

*::selection{
    background: transparent!important;
}

*::selection:focus{
    background: transparent;
}

*:focus{
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    background: white;
}


.white{
    color: white!important;
}

.black{
    color: black!important;
}


/*splide*/
.splide .splide__arrow svg{
    fill: black;
}

.splide .splide__pagination__page{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: grey;
}

.splide .splide__arrow svg :hover{
    fill: red;
}

.splide .splide__pagination__page.is-active{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: black;
}
.splide .splide__pagination__page:hover{
    background: black;
}

.splide .splide__arrow {
}
.splide .splide__arrow :hover:not(:disabled) {
    opacity: .9;
    fill: black;
}
/*// splide*/
