@import '../styles/Global-Settings/Paddings.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    position: relative;
    height: 100%;
}

*::selection {
    background: rgba(236, 206, 139, 0.49);
}


*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: white;
}


.white {
    color: white !important;
}

.black {
    color: black !important;
}


/*splide*/
.splide .splide__arrow svg {
    fill: black;
}

.splide {
    padding: 20px !important;

}

.splide .splide__pagination__page {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: grey;
}

/*.splide .splide__arrow svg :hover {*/
/*    fill: red;*/
/*}*/

.splide .splide__pagination__page.is-active {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: black;
}

.splide .splide__pagination__page:hover {
    background: black;
}

.splide .splide__arrow--prev {
    margin-left: -20px !important;
}

.splide .splide__arrow--next {
    margin-right: -20px !important;
}

.splide .splide__arrow :hover:not(:disabled) {
    opacity: .9;
    fill: black;
}

/*// splide*/
.o-projects-global .splide {
    padding: 0 !important;
}

.o-education-global .splide .splide__pagination__page.is-active {
    background: white;
}

.o-education-global .splide .splide__pagination__page {
    background: white;
}
.o-education-global .splide .splide__arrow svg {
    fill: white;
}
.o-education-global .splide .splide__arrow :hover:not(:disabled) {
    opacity: .9;
    fill: white;
}


.o-projects-global .splide .splide__pagination__page {
    background: white;
}

.o-projects-global .splide .splide__pagination__page.is-active {
    background: white;
}

.o-projects-global .splide .splide__pagination__page:hover {
    background: white;
}



@media (min-width: 992px) {
    .splide {
        padding: 0 3rem !important;
    }
}
