
.desktop{
  //width: 100%;
  //z-index: 20;
  //position: relative;
  //overflow: hidden;
  //height: 100%;

  //position: relative;
  //overflow-y: auto;
  //overscroll-behavior-y: contain;
  //scroll-snap-type: y mandatory;
  ////height: 100vh;
  //width: 100%;
  //-ms-overflow-style: none;
  //scrollbar-width: none;
  //overflow: hidden;
  &::-webkit-scrollbar {
	display: none;
  }


  .about-container{
	height: 100vh;
	//scroll-snap-align: start;
	//position: relative;
  }

  //.education{
  //min-height: 100vh;
  //}
  //.work{
  //min-height: 100vh;
  //}
  //.projects{
  //min-height: 100vh;
  //}
  //.contact{
  //min-height: 100vh;
  //}


  &::before {
	content: '';
	height: 100vh;
	width: 100%;
	background: white;
	filter: blur(20px);
	position: absolute;
  }

  .m-listing-logos{
  }

  .work{
  }


  .homepage-shape {
	filter: blur(40px);
	z-index: 0;

	img {
	  animation: scale 5s infinite linear;
	  z-index: -22;
	  opacity: 0.6;
	  position: absolute;
	  margin-left: 0px;
	  margin-top: -170px;


	  @keyframes scale {
		0% {
		  transform: scale(0.5);
		}
		50% {
		  transform: scale(0.65);
		}
		100% {
		  transform: scale(0.5);
		}
	  }
	}
  }
}


.mobile{
  //width: 100%;
  //z-index: 20;
  //position: relative;
  //overflow: hidden;
  //height: 100%;

  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
	display: none;
  }


  .about-container{
	height: 100vh;
	scroll-snap-align: center;
	position: relative;
  }

  .education{
	height: 100vh;
	scroll-snap-align: center;
	position: relative;
  }
  .work{
	height: 100vh;
	scroll-snap-align: center;
	position: relative;
  }
  .projects{
	height: 100vh;
	scroll-snap-align: center;
	position: relative;
  }
  .contact{
	height: 100vh;
	scroll-snap-align: center;
	position: relative;
  }

  &::before {
	content: '';
	height: 100vh;
	width: 100%;
	background: white;
	filter: blur(20px);
	position: absolute;
  }

  .m-listing-logos{
  }


  .homepage-shape {
	filter: blur(40px);
	z-index: 0;
	display: none;

	img {
	  animation: scale 5s infinite linear;
	  z-index: -22;
	  opacity: 0.6;
	  position: absolute;
	  margin-left: 0px;
	  margin-top: -170px;


	  @keyframes scale {
		0% {
		  transform: scale(0.5);
		}
		50% {
		  transform: scale(0.65);
		}
		100% {
		  transform: scale(0.5);
		}
	  }
	}
  }
}
