
.o-homepage{
  max-width: 100%;

  &::-webkit-scrollbar {
	display: none;
  }


  .about-container{
	min-height: 100vh;
  }

  &::before {
	content: '';
	height: 100vh;
	width: 100%;
	background: white;
	filter: blur(20px);
	position: absolute;
  }


  .text-content-container{
	position: relative;
	//overflow: hidden;

	.first-shape{
	  position: absolute;
	  width: 100%;
	  height: 80%;
	  z-index: -5;
	  filter: blur(30px);
	  transform: rotate(90deg);
	  right: 0;
	  top: -50px;
	  bottom: 0;
	  opacity: 0.37;
	}
  }

  .homepage-shape {
	filter: blur(40px);
	z-index: 0;

	img {
	  animation: scale 5s infinite linear;
	  z-index: -22;
	  opacity: 0.6;
	  position: absolute;
	  margin-left: 0px;
	  margin-top: -170px;


	  @keyframes scale {
		0% {
		  transform: scale(0.5);
		}
		50% {
		  transform: scale(0.65);
		}
		100% {
		  transform: scale(0.5);
		}
	  }
	}
  }
}

@media (min-width: 992px){
  .o-homepage{
	.about-container{
	  //height: 100vh;
	}
	.text-content-container{
	  .first-shape{

		  right: -370px;
		  bottom: -50px;
	  }
	}
  }
}

