

.m-navbar{
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  height: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

@media (min-width: 992px){
.m-navbar{
  position: fixed;
  right: unset;
  top: unset;
  height: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 23;
  gap: 50px;
  bottom: 20px;
  padding: 20px;

  a{
    writing-mode: vertical-rl;
    transition: all 1s;
    transform: rotate(180deg);
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }
}
}