

.m-navbar{
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  height: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

@media (min-width: 1028px){
.m-navbar{
  position: fixed;
  right: unset;
  top: unset;
  height: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 23;
  gap: 50px;
  bottom: 20px;
  padding: 0 0 0 10px;

  a {
    writing-mode: vertical-rl;
    transition: all 1s;
    transform: rotate(180deg);
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    color: black;
    //text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
    //outline: 5px dotted white;
    //-webkit-text-stroke-width: 2px;
    //-webkit-text-stroke-color: white;

    text-shadow:
            2px 0 white,
            0 -2px white,
            -2px 0 white,
            0 2px white;
  }

}
}
