

.o-work{
	//border: 2px solid red;

  .card-container{
	position: sticky;
	top: 50px;
	position: -webkit-sticky;

	.card-image-container{
	position: relative;
	width: 100%;
	height: 54px;
	background: #12142E;
	padding: 70px 0px;
	border-radius: 30px;
  }


  }
}