

.o-work{


  .card-column{
	border: 2px solid blue;
	position: sticky;
	top: 150px;
	position: -webkit-sticky;
  }

  .card-container{

	.card-image-container{
	position: relative;
	width: 100%;
	height: 54px;
	background: #12142E;
	padding: 70px 0px;
	border-radius: 30px;
  }


  }
}